<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731737825079-9hkjd7unsbrms6f9ui3nes6tqfsatge0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731737825079-9hkjd7unsbrms6f9ui3nes6tqfsatge0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>731737825079-vtjckac8415gd8nkc5nitlsuae9tnidh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ_2rah3J_ws6PwWB8-GxXvGDUz-17kUk</string>
	<key>GCM_SENDER_ID</key>
	<string>731737825079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minerva</string>
	<key>PROJECT_ID</key>
	<string>minerva-610af</string>
	<key>STORAGE_BUCKET</key>
	<string>minerva-610af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731737825079:ios:a6326411222e05498a84b2</string>
</dict>
</plist>